# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ini

# Visual Studio non-source file
*.suo
*.ncb
*.user

# Visual Studio build object
*.idb
*.pdb
*.ilk
*.manifest
*.res
*.dep
BuildLog.htm

