// Microsoft Visual C++ で生成されたリソース スクリプトです。
//
#include <windows.h>
#include <commctrl.h>
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 リソースから生成されました。
//
#include "atlres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 日本語 リソース

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
#ifdef _WIN32
LANGUAGE 17, 1
#pragma code_page(932)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""atlres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// アイコン
//

// アプリケーションのアイコンをすべてのシステム上で維持するために、最も小さい
// ID 値のアイコンが最初に配置されます。
IDR_MAINFRAME           ICON                    "res\\disperry.ico"

/////////////////////////////////////////////////////////////////////////////
//
// ダイアログ
//

IDD_ABOUTBOX DIALOG  0, 0, 187, 102
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Version info disperry"
FONT 9, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,130,81,50,14
    CTEXT           "disperry Application v1.0\n\n(c) Copyright 2017",IDC_STATIC,25,57,78,
                    32
    ICON            IDR_MAINFRAME,IDC_STATIC,55,26,18,20
    GROUPBOX        "",IDC_STATIC,7,7,115,88
END


IDD_PROCESSBOX DIALOGEX 0, 0, 150, 60
STYLE DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Processing..."
FONT 9, "MS UI Gothic"
BEGIN
    CTEXT           "Disassembling...\nClick Abort button if you want to stop disassemble.", IDC_PROCESS_MESSAGE, 15, 10, 126, 17, SS_CENTER, WS_EX_LEFT
    DEFPUSHBUTTON   "Abort", IDABORT, 50, 35, 50, 14, 0, WS_EX_LEFT
END


IDD_MAINDLG DIALOG  0, 0, 290, 330
STYLE DS_SETFONT | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU
CAPTION "disperry"
FONT 9, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON   "Disassemble", ID_DISASM, 122, 305, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Info...", ID_APP_ABOUT, 176, 305, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Exit", IDEXIT, 231, 305, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Input", IDC_STATIC_INPUT, 12, 18, 15, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_INPUT, 35, 14, 230, 16, ES_AUTOHSCROLL, WS_EX_ACCEPTFILES
    PUSHBUTTON      "...", IDC_BUTTON_INPUT, 267, 14, 15, 14, 0, WS_EX_LEFT
    LTEXT           "Output", IDC_SATIC_OUTPUT, 12, 39, 15, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_OUTPUT, 34, 35, 230, 16, ES_AUTOHSCROLL, WS_EX_ACCEPTFILES
    PUSHBUTTON      "...", IDC_BUTTON_OUTPUT, 267, 36, 15, 14, 0, WS_EX_LEFT
    GROUPBOX        "Settings", IDC_GROUP_CONFIG, 10, 58, 270, 240, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Skip 0x200 bytes header (-n)", IDC_CHECK_HEADER, 20, 75, 108, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Don't output HEX (-t)", IDC_CHECK_NOHEX, 150, 75, 92, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Start in 8-bit accumulator (-a)", IDC_CHECK_ACCUM, 20, 97, 113, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Start in 8-bit X/Y regs (-x)", IDC_CHECK_INDEX, 150, 97, 127, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Turn off bank-boundary (-e)", IDC_CHECK_BOUNDARY, 20, 115, 116, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Blank lines after RTS,RTL,RTI (-p)", IDC_CHECK_SPLIT, 150, 115, 122, 8, WS_GROUP, WS_EX_LEFT
    AUTOCHECKBOX    "Disassemble a bank only (-b)", IDC_CHECK_BANK, 20, 135, 98, 8, WS_GROUP, WS_EX_LEFT
    RTEXT           "Bank", IDC_STATIC_BANK, 148, 135, 22, 9, NOT WS_GROUP | SS_RIGHT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_BANK, 175, 133, 40, 14, ES_AUTOHSCROLL | ES_UPPERCASE, WS_EX_LEFT
    AUTOCHECKBOX    "Hex dump only (-d)", IDC_CHECK_HEXONLY, 20, 155, 89, 8, WS_GROUP, WS_EX_LEFT
    RTEXT           "HEX dump width", IDC_STATIC_HEX_WIDTH, 120, 155, 50, 9, NOT WS_GROUP | SS_RIGHT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_HEXWIDTH, 175, 152, 40, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_SPIN_HEXWIDTH, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 205, 152, 10, 14, WS_EX_LEFT
    AUTOCHECKBOX    "Set origin (-g)", IDC_CHECK_ORIGIN, 20, 175, 59, 8, WS_GROUP, WS_EX_LEFT
    RTEXT           "Address", IDC_STATIC_ORIGIN_ADR, 148, 175, 22, 9, NOT WS_GROUP | SS_RIGHT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_ORIGIN_ADR, 175, 173, 40, 14, ES_AUTOHSCROLL | ES_UPPERCASE, WS_EX_LEFT
    AUTOCHECKBOX    "Disassemble block from <Start> to <End> (-r)", IDC_CHECK_STARTEND, 20, 195, 168, 8, WS_GROUP, WS_EX_LEFT
    LTEXT           "Start addr", IDC_STATIC_START, 40, 215, 40, 9, NOT WS_GROUP | SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_START, 80, 212, 40, 14, ES_AUTOHSCROLL | ES_UPPERCASE, WS_EX_LEFT
    LTEXT           "End addr", IDC_STATIC_END, 135, 215, 40, 9, NOT WS_GROUP | SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_END, 175, 212, 40, 14, ES_AUTOHSCROLL | ES_UPPERCASE, WS_EX_LEFT
    LTEXT           "Memory map (-h/-l)", IDC_STATIC_BANKMAP, 20, 235, 70, 9, SS_LEFT, WS_EX_LEFT
    AUTORADIOBUTTON "Auto", IDC_RADIO_BM_AUTO, 40, 250, 30, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "LoRom", IDC_RADIO_BM_LOROM, 80, 250, 30, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "HiRom", IDC_RADIO_BM_HIROM, 120, 250, 30, 8, 0, WS_EX_LEFT
    LTEXT           "Shadow address (-s/-i)", IDC_STATIC_SHADOWADDR, 20, 265, 70, 9, SS_LEFT, WS_EX_LEFT
    AUTORADIOBUTTON "Auto", IDC_RADIO_SA_AUTO, 40, 280, 30, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Enable", IDC_RADIO_SA_ENABLE, 80, 280, 30, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Disable", IDC_RADIO_SA_DISABLE, 120, 280, 30, 8, 0, WS_EX_LEFT
END




/////////////////////////////////////////////////////////////////////////////
//
// デザイン情報
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 180
        TOPMARGIN, 7
        BOTTOMMARGIN, 95
    END

    IDD_MAINDLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 180
        TOPMARGIN, 7
        BOTTOMMARGIN, 91
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// アクセラレーター
//

IDR_MAINFRAME ACCELERATORS 
BEGIN
    "N",            ID_FILE_NEW,            VIRTKEY, CONTROL
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL
    "P",            ID_FILE_PRINT,          VIRTKEY, CONTROL
    "Z",            ID_EDIT_UNDO,           VIRTKEY, CONTROL
    "X",            ID_EDIT_CUT,            VIRTKEY, CONTROL
    "C",            ID_EDIT_COPY,           VIRTKEY, CONTROL
    "V",            ID_EDIT_PASTE,          VIRTKEY, CONTROL
    VK_BACK,        ID_EDIT_UNDO,           VIRTKEY, ALT
    VK_DELETE,      ID_EDIT_CUT,            VIRTKEY, SHIFT
    VK_INSERT,      ID_EDIT_COPY,           VIRTKEY, CONTROL
    VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY, SHIFT
    VK_F6,          ID_NEXT_PANE,           VIRTKEY 
    VK_F6,          ID_PREV_PANE,           VIRTKEY, SHIFT
END


/////////////////////////////////////////////////////////////////////////////
//
// バージョン情報
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Americo\0"
            VALUE "FileDescription", "Perry's could you analyze it?\0"
            VALUE "FileVersion",     "1.0.0.1\0"
            VALUE "InternalName", "disperry\0"
            VALUE "LegalCopyright", "Copyright (C) 2017 boldowa  All rights reserved.\0"
            VALUE "OriginalFilename", "disperry.exe\0"
            VALUE "ProductName", "Disperry Perry's could you analyze it?\0"
            VALUE "ProductVersion",  "1.0.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// ストリング テーブル
//

STRINGTABLE 
BEGIN
    IDR_MAINFRAME	"disperry"
END

// System caption
STRINGTABLE
BEGIN
	PERRY_DEBUG				"Debug info"
	PERRY_INFO				"Info"
	PERRY_WARNING			"Warning"
	PERRY_ERROR				"Error"
	PERRY_FATAL				"Fatal error"
END

// Generic
STRINGTABLE
BEGIN
	PERRY_DISPEL_NOT_FOUND			"Dispel.exe is missing. Can't start application."
	PERRY_INI_LOAD_FAIL				"Failed to read the application config file.\nWould you like to launch it by default settings?"
	PERRY_UNKNOWN_ERROR				"Unknown error occurred. Failed to select the file."
	PERRY_FAILED_DISASSEMBLE		"Failed to disassemble.\n[Error info]\n%s"
	PERRY_INVALID_ON_DISASM			"Invalid seting detected.\n%s"
	PERRY_INVALID_ON_EXIT			"Invalid seting detected.\n%s\nDo you want to exit it anyway?\n(The next settings at startup will be the one at the time the disassemble succeeded last time)"
	PERRY_SAMENAME_INOUT			"Input and Output file name are the same."
	PERRY_INVERT_BEG_END			"The start address is the same as or greater than the end address."
	PERRY_INI_WRITE_FAIL			"Failed to update the application config file."
	PERRY_WINAPI_FAILED				"Fatal error occurred at calling WindowsAPI.\n[Error code: 0x%08x]\n%s\nLocation: %s (API: %s)"
END

// Debug
STRINGTABLE
BEGIN
	PERRY_DEBUG_INT					"%s : %d"
	PERRY_DEBUG_HEX					"%s : 0x%x"
	PERRY_DEBUG_STR					"%s : %s"
END

#endif    // 日本語 リソース
/////////////////////////////////////////////////////////////////////////////


#ifndef APSTUDIO_INVOKED
#endif    // not APSTUDIO_INVOKED
